<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341152015809-vsdjgmcfiqak5t9fbh3vo7c18gkv3k3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341152015809-vsdjgmcfiqak5t9fbh3vo7c18gkv3k3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBTV7zoJkLOj-QOoudxDaQB8ep_8-PQe-g</string>
	<key>GCM_SENDER_ID</key>
	<string>341152015809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quotidiantApp</string>
	<key>PROJECT_ID</key>
	<string>quotidiant-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quotidiant-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341152015809:ios:a52081f7ab64ed22bbbb40</string>
</dict>
</plist>